{% extends 'auctions/layout.html' %}
{% load widget_tweaks %}

{% block title %}
    {{listing.title}}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Listing: {{listing.title}}</h1>
        {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'watchlisting' listing.id %}">
                <span class="badge badge-light">
                {% if watchlisted %}
                    Remove from watchlist
                {% else %}
                    Watchlist
                {% endif %}
                </span>
            </a>
        {% endif %}
        <img src="{{listing.image_url}}" alt="{{listing.title}}">
        <p>{{listing.description}}</p>
        <h2>${{listing.price}}.00</h2>
        {% if user.is_authenticated %}
            <div>
                <p>{{bids}} bid(s) so far</p>
                <form action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    {{ bidform }}
                    <input type="submit" value="Place bid" class="btn btn-primary">
                </form>
            </div>
        {% endif %}
        <div>
            <h2>Details:</h2>
            <ul>
                <li>Listed by: {{listing.owner}}</li>
                <li>Created {{listing.date}}</li>
                <li>Category: {{listing.category}}</li>
            </ul>
        </div>
        <div>
            <h2>Comments</h2>
            {% if user.is_authenticated %}
                <form action="{% url 'listing' listing.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ commentForm.content|add_class:"form-control" }}
                    </div>
                    <input type="submit" value="Comment" class="btn btn-primary">
                </form>
            {% endif %}
            <div class="container">
                {% for comment in listing.comments.all %}
                    <div class="alert alert-secondary">
                        <div class="row border-bottom border-dark mb-2">
                            <div class="pl-3">
                                <p><span class="badge badge-primary">{{comment.owner}}</span></p>
                            </div>
                            <div class="pl-3">
                                <p class="font-weight-light">{{comment.date}}</p>
                            </div>
                        </div>
                        <p>{{comment.content}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}