#new_post {
    border: 1px solid black;
    padding: 10px;
}

.post {
    border: 1px solid black;
    margin: 10px;
    padding: 10px 10px 0px 10px
}

.post p {
    margin-bottom: 0px;
}